.container{
    width: 427px;
    margin: auto;
    margin-top: 20px;
    background: #fff;
    color: #262626;
    border-radius: 14px;
    display:flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 50px;

}

.container hr{
    border: none;
    height: 2px;
    background: #707070;
}

.container h1{
    font-size: 25px;
    font-weight: 600;
    text-align:start;
    color: #262626;
}

.container h2{
    font-size: 18px;
    font-weight: 600;
}

.container ul li{
    width:400px;
    display: flex;
    align-items: center;
    height:50px;
    padding-left:15px ;
    border: 1px solid #4b4b4b;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 450;
}

.container button{
    margin-left:315px;
    width: 100px;
    height: 45px;
    background: #553f9a;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-size: 17px;
    font-weight: 530;
    color: #262626;
    margin-right: 14px;
}

.container .correct{
    background:#dffff2;
    border-color:#00d397;
}

.container .wrong{
    background: #FFEBEB;
    border-color: #FF4A4A;
}

.time {
    font-size: 9px;
    font-weight: 300;
    color: #262626;
    margin-left: 270px;
    margin-top: -50px;
}


.quiz .back-button {
  
    padding: 5px 10px;
    border: none;
    border-radius: 25px;
    background: #080a0a;
    color: white;
    font-size: 1.29rem;
    font-weight: 1000;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #15ed88;
  }